{% extends 'layout.html.twig' %}

{% block title %}Edit UserToken{% endblock %}

{% block content %}
    <h1>Edit UserToken</h1>

    {{ include('user_token/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_user_token_index') }}">back to list</a>

    {{ include('user_token/_delete_form.html.twig') }}
{% endblock %}
